<% uniq_id = product.new_record? ? dom_id(product) : "form_#{dom_id(product)}" %>
<%= form_with model: product, 
              id: uniq_id,
              data: { action: "turbo:submit-end->remote-modal#removeModal" }, target: :_top do |f| %>
<%#= form_with model: product, data: { turbo_frame: :_top } do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
    <%= errors_for product, :name %>
  </div>
  <div class="mb-3">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "form-control" %>
    <%= errors_for product, :description %>
  </div>
  <div class="mb-3">
    <%= f.button class: "btn btn-primary" %>
    <%= link_to "Cancel", "javascript:void(0)", 
                            class: "btn btn-outline-secondary",  
                              data: { action: 'click->remote-modal#removeModal' } %>
  </div>
<% end %>
