<!DOCTYPE html>
<html>
  <head>
    <title>Hotwire Modal Bootsrap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-vh-100 container antialiased font-normal leading-normal mt-0">
    <div id='notifications'>
      <%= render 'shared/flash' %>
    </div>
    <%= yield %>
    <%#= turbo_frame_tag :remote_modal, target: "_top" %>
    <%= turbo_frame_tag :remote_modal %>
  </body>
</html>
